@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tianfu 4th street<br />
    Keysight <br />
    <abbr title="Phone">13888888888</abbr>
    12345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Lv_Wen@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Lv_Wen@example.com">Marketing@example.com</a>
</address>